/* main style */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

div.main_header {
  cursor: pointer;
}

div.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(26, 26, 26, 0.8);
  width: 100%;
  height: 100%;
  display: none;
}

a.link {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  background-color: #8a2be2;
  color: #f5f5dc;
  padding: 8px;
  transition: all 500ms ease-in-out;
}

a.link:hover {
  background-color: #f2ecf7;
  color: #312b2b;
}

ul.links {
  list-style: none;
  display: flex;
  padding: 0;
}

ul.links li {
  list-style-type: none;
  padding: 8px;
}

.no_border {
  border: none;
}

.with_border {
  border: 1px solid #616060;
}

div.line__space {
  margin: 32px 0;
}


div.search__search {
  display: flex;
}

div.search__search div.search__result__container {
  position: relative;
}

div.search__search div.search__result__container div.search__input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}

div.search__search div.search__result__container div.search__input input {
  border: none;
}

div.search__search div.search__result__container div.search__input input:focus {
  outline: none;
}

div.search__search div.search__result__container div.search__result {
  /* border: 1px solid #616060; */
  cursor: pointer;
  position: absolute;
}

div.search__search div.search__result__container div.search__result ul {
  list-style-type: none;
}

