article {
  padding: 1rem;
  /* margin: 1rem auto; */
  margin: 1rem 7rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Oswald', sans-serif;
  width: 30rem;
  max-width: 80%;
  border-radius: 16px;
  transition: transform 200ms ease-in-out;
}

article:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

h1 {
  font-family: inherit;
  font-weight: bold;
}
