<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <%- include('includes/nagivation.ejs') %>

  <main>
    <form action="/add-users" method="POST">
      <div class="users__form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <button class="btn" type="submit">Add User</button>
    </form>
  </main>

  <section style="font-family: sans-serif;">
    <h2>Section Title</h2>	  
  </section>

  <section style="font-family: sans-serif;">
    <details>
      <summary>title</summary>
    </details>
  </section>

  <fieldset>
    <legend>Choose your title</legend>

    <input type="radio" id="id" name="name" />
    <label for="id">id</label>
  </fieldset>

  <section style="font-family: sans-serif;">
    <p>something <mark>s</mark>else</p>
    <time datetime="20:00">20:00</time>
  </section>

  <section style="font-family: sans-serif;">
    <div>Sample output element</div>
      <p>
        <samp>found title</samp>
      </p>
  </section>

  <section style="font-family: sans-serif;">
    <p>html element provides the description, defintion, or value for the preceding term</p>
    <dl>
      <dt>Start</dt>
      <dd>some info about start</dd>

      <dt>Number 2</dt>
      <dd>some info about number 2</dd>
    </dl>
  </section>

  <section style="font-family: sans-serif;">
    <article>
      <h2>Title</h2>
      <article>
        <h2>March 1</h2>
        <p>content</p>
      </article>
      <article>
        <h2>March 2</h2>
        <p>content</p>
      </article>
    </article>
  </section>

  <blockquote cite="https://www.msn.com">
    <p>Some words</p>
    <footer>someone, </footer><cite>new world</cite>
  </blockquote>

  <section style="font-family: sans-serif;">
    <p>Title <dfn>definition element</dfn>something else</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>Some title</p>
    <del>
      <p>a range of text that has been deleted from the document</p>
    </del>
    <ins>
      <p>a range of text that has been added from the document</p>
    </ins>
  </section>

  <section style="font-family: sans-serif;">
    <p>keyboard input element</p>
    <p>prcess <kbd>Ctrl</kbd>&nbsp;<kbd>Shift</kbd>&nbsp;<kbd>R</kbd> to see</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>Represents text which is marked or highlighted <mark>rainforest</mark></p>
    <p>indicates a portion of the document's content is relevant to the user's <mark>current</mark> activity</p>
  </section>

  <section style="font-family: sans-serif;">
    <div class="news">
      <menu>
        <li>
          <button id="save">Save for later</button>
        </li>
        <li>
          <button id="share">Share this news</button>
        </li>
      </menu>
    </div>
  </section>

  <section style="font-family: sans-serif;">
    <label for="fuel">Label for fuel&nbsp;</label>
    <meter id="fuel" min="0" max="100" value="80" low="33" high="70" optimum="80">at 80/100</meter>
  </section>

  <section>
    <label for="number-select">choose a number</label>
    <select name="" id="number-select">
      <optgroup label="walker">
        <option>walker 1</option>
        <option>walker 2</option>
      </optgroup>
      <optgroup label="runner">
        <option>runner 1</option>
        <option>runner 2</option>
        <option>runner 3</option>
      </optgroup>
    </select>
  </section>

  <section style="font-family: sans-serif;">
    <label for="running">File process&nbsp;</label>
    <progress id="running" max="100" value="80">80%</progress>
  </section>

  <section>
    <div aria-busy="true" aria-describedby="progress-bar"></div>
    <progress id="progress-bar" aria-label="content loading..."></progress>
  </section>

  <section style="font-family: sans-serif;">
    <p>When walker knocks on the door <q cite="https://www.msn.com">this is inline quotation element</q></p>
  </section>

  <section>
    <ruby style="font-size: 16px; font-family: sans-serif;">
      Walker <rp>(</rp><rt style="font-size: 16px;">Johny</rt><rp>)</rp>
    </ruby>
  </section>

  <section style="font-family: sans-serif;">
    <p>check this element</p>
    <p>see <s>strike through</s></p>
  </section>

  <section style="font-family: sans-serif;">
    <p>sample output</p>
    <p><samp>key not found</samp></p>
  </section>

  <section style="font-family: sans-serif;">
    <p>mathematical expression&nbsp;<var>variable</var></p>
  </section>

  <section style="font-family: sans-serif;">
    <P>The&nbsp;<code>push()</code> method adds one or more elements to the end of an array</P>
    <p>and returns the new length of the array</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>The class starts at <time datetime="12:00">12:00</time> and enjoy your class</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>the most important rule that you can never forget <strong>rule number one</strong></p>
  </section>

  <section style="font-family: sans-serif;">
    <p>the volume of a box is <var>l</var> * <var>w</var> * <var>h</var></p>
  </section>

  <section style="font-family: sans-serif;">
    <p>The <em>Pythagorean theorem</em> is</p>
    <p><var>a<sup>2</sup></var> + <var>b<sup>2</sup></var> = <var>c<sup>2</sup></var></p>
  </section>

  <section style="font-family: sans-serif;">
    <table>
      <caption>User login email</caption>
      <tr>
        <th>Login</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>User1</td>
        <td>user1@domain.com</td>
      </tr>
    </table>
  </section>

  <section style="font-family: sans-serif;">
    <p>this is a line of text<wbr />&shy;break</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>You can use <abbr style="font-style: italic; color: chocolate">css</abbr> Cascading Sytle Sheet to style your <abbr>HTML</abbr> HyperText Markup Language page</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>Contact information</p>
    <address><a href="mailto:walker123@example.com">walker123@example.com</a></address>
  </section>

  <section style="font-family: sans-serif;">
    <p>Main content</p>
    <aside><p>call-out content</p></aside>
    <p>More info about the main content</p>
  </section>

  <section style="font-family: sans-serif;">
    <p>New content</p>
    <ul>
      <li><data value="123">Mini content 2</data></li>
      <li><data value="124">Mini content 3</data></li>
      <li><data value="125">Mini content 4</data></li>
      <li><data value="126">Mini content 5</data></li>
      <li><data value="127">Mini content 6</data></li>
    </ul>
  </section>

  <figure>
    <blockquote>
      <p>This is a block quote</p>
    </blockquote>
    <figcaption>
      First line in <cite><a href="https://www.msn.com">a cited creative work</a></cite> in chapter one.
    </figcaption>
  </figure>


  <footer>
    <div>title</div>
  </footer>

</body>

</html>

