<div>
  <button (click)="onSelectUser()">
    <!-- <img [src]="'users/' + selectedUser.avatar" [alt]="selectedUser.name"> -->
    <!-- <img [src]="imagePath()" [alt]="selectedUser().name"> -->
    <!-- <span>{{ selectedUser().name }}</span> -->
    <!-- <img [src]="imagePath" [alt]="name">
    <span>{{ name }}</span> -->
    <!-- <img [src]="imagePath()" [alt]="name()">
    <span>{{ name() }}</span> -->
    <img [src]="imagePath" [alt]="user.name">
    <span>{{ user.name }}</span>
  </button>
</div>

